IntecoAG.ERM.FM/Tax/RuVat/RU_V5_04/XSD/NO_NDS.81_1_003_02_05_04_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="‘айл">
		<xs:annotation>
			<!---**************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="ѕроверка имени файла на соответствие значению атрибута @»д‘айл">
					<sch:rule context="‘айл">
						<!--  “абл.4.1. ѕроверка имени файла на соответствие »д‘айл                                                                             -->
						<sch:assert test="usch:getFileName() = @»д‘айл">
							<usch:error code="0400400007" path="@»д‘айл" value-of-select="@»д‘айл" doc-id-path="usch:getFileName()" doc-id-caption="‘айл">»м€ файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента »д‘айл "<usch:value-of select="@»д‘айл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---**************************************************************************************************************************************************************************-->
			<xs:documentation>‘айл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ƒокумент">
					<xs:annotation>
						<!---*********************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="ѕрисутствие признака актуальности сведений">
								<sch:rule context="ƒокумент">
									<!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ѕризн—вед81  в  зависимости  от  значени€  Ќом орр  -->
									<sch:assert test="usch:iif(@Ќом орр=0, count(@ѕризн—вед81)=0, count(@ѕризн—вед81)!=0)">
										<usch:error code="0400300003" path="@ѕризн—вед81" value-of-select="@Ќом орр">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ѕризн—вед81 при значении элемента Ќом орр, равном "<usch:value-of select="@Ќом орр"/>".</usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*********************************************************************************************************************************************************-->
						<!---*********************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="ѕрисутствие  нигаѕокупƒЋ в  зависимости  от  значени€ ѕризн—вед81">
								<sch:rule context="ƒокумент">
									<!-- “абл.4.8.  онтроль  об€зательности  присутстви€   нигаѕокупƒЋ в  зависимости  от  значени€ ѕризн—вед81  -->
									<sch:assert test="(count(@ѕризн—вед81)!=0 and @ѕризн—вед81=0 and count( нигаѕокупƒЋ)!=0) or (count(@ѕризн—вед81)!=0 and @ѕризн—вед81=1 and count( нигаѕокупƒЋ)=0) or (count(@ѕризн—вед81)=0 and (count( нигаѕокупƒЋ)=0 or count( нигаѕокупƒЋ)!=0))">
										<usch:error code="0400300003" path=" нигаѕокупƒЋ" value-of-select="count( нигаѕокупƒЋ)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ нигаѕокупƒЋ при значении элемента ѕризн—вед81, равном "<usch:value-of select="@ѕризн—вед81"/>".</usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*********************************************************************************************************************************************************-->
						<xs:documentation>—остав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name=" нигаѕокупƒЋ" minOccurs="0">
								<xs:annotation>
									<xs:documentation>—ведени€ из дополнительных листов книги покупок</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name=" нѕокƒЋ—тр" maxOccurs="unbounded">
											<xs:annotation>
												<!---**********************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="ѕрисутствие сведений о представителе">
														<sch:rule context=" нѕокƒЋ—тр">
															<!-- “абл.4.8.  онтроль  об€зательности  присутстви€  Ќом»спр—ч‘ в  зависимости  от наличи€  ƒата»спр—ч‘  -->
															<sch:assert test="usch:iif(count(@ƒата»спр—ч‘)!=0, count(@Ќом»спр—ч‘)!=0, (count(@Ќом»спр—ч‘)!=0 or count(@Ќом»спр—ч‘)=0))">
																<usch:error code="0400300001" path="@Ќом»спр—ч‘" value-of-select="count(@Ќом»спр—ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ нигаѕокупƒЋ/ нѕокƒЋ—тр/Ќом»спр—ч‘ при наличии элемента ƒата»спр—ч‘.</usch:error>
															</sch:assert>
															<!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ƒата»спр—ч‘ в  зависимости  от наличи€  Ќом»спр—ч‘  -->
															<sch:assert test="usch:iif(count(@Ќом»спр—ч‘)!=0, count(@ƒата»спр—ч‘)!=0, (count(@ƒата»спр—ч‘)!=0 or count(@ƒата»спр—ч‘)=0))">
																<usch:error code="0400300001" path="@ƒата»спр—ч‘" value-of-select="count(@ƒата»спр—ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ нигаѕокупƒЋ/ нѕокƒЋ—тр/ƒата»спр—ч‘ при наличии элемента Ќом»спр—ч‘.</usch:error>
															</sch:assert>
															<!-- “абл.4.8.  онтроль  об€зательности  присутстви€  Ќом —ч‘ѕрод в  зависимости  от наличи€  ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ -->
															<sch:assert test="usch:iif( count(@ƒата —ч‘ѕрод)!=0 or count(@Ќом»спр —ч‘)!=0 or count(@ƒата»спр —ч‘)!=0 , count(@Ќом —ч‘ѕрод)!=0, (count(@Ќом —ч‘ѕрод)!=0 or count(@Ќом —ч‘ѕрод)=0))">
																<usch:error code="0400300001" path="@Ќом —ч‘ѕрод" value-of-select="count(@Ќом —ч‘ѕрод)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ нигаѕокупƒЋ/ нѕокƒЋ—тр/Ќом —ч‘ѕрод при наличии одного из элементов: ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘.</usch:error>
															</sch:assert>
															<!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ƒата —ч‘ѕрод в  зависимости  от наличи€  Ќом —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ -->
															<sch:assert test="usch:iif(count(@Ќом —ч‘ѕрод)!=0 or count(@Ќом»спр —ч‘)!=0 or count(@ƒата»спр —ч‘)!=0 , count(@ƒата —ч‘ѕрод)!=0, (count(@ƒата —ч‘ѕрод)!=0 or count(@ƒата —ч‘ѕрод)=0))">
																<usch:error code="0400300001" path="@ƒата —ч‘ѕрод" value-of-select="count(@ƒата —ч‘ѕрод)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ нигаѕокупƒЋ/ нѕокƒЋ—тр/ƒата —ч‘ѕрод при наличии одного из элементов: Ќом —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘..</usch:error>
															</sch:assert>
															<!-- “абл.4.8.  онтроль  об€зательности  присутстви€  Ќом»спр —ч‘ в  зависимости  от наличи€  ƒата»спр —ч‘  -->
															<sch:assert test="usch:iif(count(@ƒата»спр —ч‘)!=0, count(@Ќом»спр —ч‘)!=0, (count(@Ќом»спр —ч‘)!=0 or count(@Ќом»спр —ч‘)=0))">
																<usch:error code="0400300001" path="@Ќом»спр —ч‘" value-of-select="count(@Ќом»спр —ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ нигаѕокупƒЋ/ нѕокƒЋ—тр/Ќом»спр —ч‘ при наличии элемента ƒата»спр —ч‘.</usch:error>
															</sch:assert>
															<!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ƒата»спр —ч‘ в  зависимости  от наличи€  Ќом»спр —ч‘  -->
															<sch:assert test="usch:iif(count(@Ќом»спр —ч‘)!=0, count(@ƒата»спр —ч‘)!=0, (count(@ƒата»спр —ч‘)!=0 or count(@ƒата»спр —ч‘)=0))">
																<usch:error code="0400300001" path="@ƒата»спр —ч‘" value-of-select="count(@ƒата»спр —ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ нигаѕокупƒЋ/ нѕокƒЋ—тр/ƒата»спр —ч‘ при наличии элемента Ќом»спр —ч‘.</usch:error>
															</sch:assert>
															<!-- “абл.4.8.  онтроль  об€зательности  присутстви€  —вѕрод в зависимости  от значени€  од¬идќпер -->
															<sch:assert test="usch:iif(  од¬идќпер=01  or   од¬идќпер=02  or   од¬идќпер=03  or   од¬идќпер=04  or   од¬идќпер=05  or   од¬идќпер=07  or   од¬идќпер=08  or   од¬идќпер=09  or   од¬идќпер=10  or   од¬идќпер=11  or   од¬идќпер=12  or   од¬идќпер=13  , count(—вѕрод)!=0, (count(—вѕрод)!=0 or count(—вѕрод)=0))">
																<usch:error code="0400300001" path="—вѕрод" value-of-select="count( од¬идќпер)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ нигаѕокупƒЋ/ нѕокƒЋ—тр/—вѕрод при наличии элемента  од¬идќпер с значением из перечн€: 01, 02, 03, 04, 05, 07, 08, 09, 10, 11, 12, 13. 
																  </usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---**********************************************************************************************************************************************-->
												<xs:documentation>—ведени€ по строке из дополнительных листов книги покупок</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name=" од¬идќпер" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation> од вида операции</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
																<xs:enumeration value="01"/>
																<xs:enumeration value="02"/>
																<xs:enumeration value="03"/>
																<xs:enumeration value="04"/>
																<xs:enumeration value="05"/>
																<xs:enumeration value="06"/>
																<xs:enumeration value="07"/>
																<xs:enumeration value="08"/>
																<xs:enumeration value="09"/>
																<xs:enumeration value="10"/>
																<xs:enumeration value="11"/>
																<xs:enumeration value="12"/>
																<xs:enumeration value="13"/>
																<xs:enumeration value="16"/>
																<xs:enumeration value="17"/>
																<xs:enumeration value="18"/>
																<xs:enumeration value="19"/>
																<xs:enumeration value="20"/>
																<xs:enumeration value="21"/>
																<xs:enumeration value="22"/>
																<xs:enumeration value="23"/>
																<xs:enumeration value="24"/>
																<xs:enumeration value="25"/>
																<xs:enumeration value="26"/>
																<xs:enumeration value="27"/>
																<xs:enumeration value="28"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ƒокѕдтв”пл" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>—ведени€ о документе, подтверждающем уплату налога</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Ќомƒокѕдтв”пл" use="required">
																<xs:annotation>
																	<xs:documentation>Ќомер документа, подтверждающего уплату налога</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="256"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ƒатаƒокѕдтв”пл" type="ƒата“ип" use="required">
																<xs:annotation>
																	<xs:documentation>ƒата документа, подтверждающего уплату налога</xs:documentation>
																	<xs:documentation>
ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ƒата”ч“ов" type="ƒата“ип" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>ƒата прин€ти€ на учет товаров (работ, услуг), имущественных прав</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="—вѕрод" type="—в”ч—д“ип" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>—ведени€ о продавце</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="—вѕос" type="—в”ч—д“ип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>—ведени€ о посреднике (комиссионере, агенте, экспедиторе, застройщике)</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Ќомерѕор" use="required">
													<xs:annotation>
														<xs:documentation>ѕор€дковый номер</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="12"/>
															<xs:minInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Ќом—ч‘ѕрод" use="required">
													<xs:annotation>
														<xs:documentation>Ќомер счета-фактуры продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ƒата—ч‘ѕрод" type="ƒата“ип" use="optional">
													<xs:annotation>
														<xs:documentation>ƒата счета-фактуры продавца</xs:documentation>
														<xs:documentation>
ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Ќом»спр—ч‘" use="optional">
													<xs:annotation>
														<xs:documentation>Ќомер исправлени€ счета-фактуры продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="3"/>
															<xs:minInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ƒата»спр—ч‘" type="ƒата“ип" use="optional">
													<xs:annotation>
														<xs:documentation>ƒата исправлени€ счета-фактуры продавца</xs:documentation>
														<xs:documentation>
ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Ќом —ч‘ѕрод" use="optional">
													<xs:annotation>
														<xs:documentation>Ќомер корректировочного счета-фактуры продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="256"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ƒата —ч‘ѕрод" type="ƒата“ип" use="optional">
													<xs:annotation>
														<xs:documentation>ƒата корректировочного счета-фактуры продавца</xs:documentation>
														<xs:documentation>
ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Ќом»спр —ч‘" use="optional">
													<xs:annotation>
														<xs:documentation>Ќомер исправлени€ корректировочного счета-фактуры продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="3"/>
															<xs:minInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ƒата»спр —ч‘" type="ƒата“ип" use="optional">
													<xs:annotation>
														<xs:documentation>ƒата исправлени€ корректировочного счета-фактуры продавца</xs:documentation>
														<xs:documentation>
ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Ќом“ƒ" use="optional">
													<xs:annotation>
														<xs:documentation>Ќомер таможенной декларации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ќ ¬" type="ќ ¬“ип" use="optional">
													<xs:annotation>
														<xs:documentation> од валюты по ќ ¬</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="—тоимѕокуп¬" use="required">
													<xs:annotation>
														<xs:documentation>—тоимость покупок по счету-фактуре, разница стоимости по корректировочному счету-фактуре (включа€ налог), в валюте счета-фактуры</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="—умЌƒ—" use="required">
													<xs:annotation>
														<xs:documentation>—умма налога по счету-фактуре, разница суммы налога по корректировочному счету-фактуре, принимаема€ к вычету, в рубл€х и копейках</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="—умЌƒ—»т ѕк" use="required">
										<xs:annotation>
											<xs:documentation>»тогова€ сумма налога по книге покупок</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="—умЌƒ—»тѕ1–8" use="required">
										<xs:annotation>
											<xs:documentation>—умма налога всего по приложению 1 к разделу 8 в рубл€х и копейках</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="»ндекс" use="required">
							<xs:annotation>
								<xs:documentation>»ндекс</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base=" Ќƒ“ип">
									<xs:enumeration value="0000081"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Ќом орр" use="required">
							<xs:annotation>
								<xs:documentation>Ќомер корректировки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ѕризн—вед81" use="optional">
							<xs:annotation>
								<xs:documentation>ѕризнак актуальности ранее представленных сведений (из  дополнительных листов книги покупок)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="»д‘айл" use="required">
				<xs:annotation>
					<xs:documentation>»дентификатор файла</xs:documentation>
					<xs:documentation>—одержит (повтор€ет) им€ сформированного файла (без расширени€)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="¬ерсѕрог" use="required">
				<xs:annotation>
					<xs:documentation>¬ерси€ программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="¬ерс‘орм" use="required">
				<xs:annotation>
					<xs:documentation>¬ерси€ формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.04"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="—в”ч—д“ип">
		<xs:annotation>
			<xs:documentation>—ведени€ об участнике сделки</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="—ведёЋ">
				<xs:annotation>
					<xs:documentation>—ведени€ об организации</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип" use="required">
						<xs:annotation>
							<xs:documentation>»ЌЌ организации</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name=" ѕѕ" type=" ѕѕ“ип" use="required">
						<xs:annotation>
							<xs:documentation> ѕѕ</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="—вед»ѕ">
				<xs:annotation>
					<xs:documentation>—ведени€ об индивидуальном предпринимателе</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип" use="required">
						<xs:annotation>
							<xs:documentation>»ЌЌ физического лица</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="»ЌЌ‘Ћ“ип">
		<xs:annotation>
			<xs:documentation>»дентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="»ЌЌёЋ“ип">
		<xs:annotation>
			<xs:documentation>»дентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name=" ѕѕ“ип">
		<xs:annotation>
			<xs:documentation> од причины постановки на учет ( ѕѕ) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name=" Ќƒ“ип">
		<xs:annotation>
			<xs:documentation> од из  лассификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ќ ¬“ип">
		<xs:annotation>
			<xs:documentation> од из ќбщероссийского классификатора валют</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ƒата“ип">
		<xs:annotation>
			<xs:documentation>ƒата в формате ƒƒ.ћћ.√√√√ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
